# Pyhton pandas data frame

In [11]:
import pandas as pd

In [12]:
emt_df=pd.DataFrame()
print(emt_df)

Empty DataFrame
Columns: []
Index: []

In [13]:
lst=['a','b','c']
print(lst)

['a', 'b', 'c']

In [14]:
df1=pd.DataFrame(lst)
print(df1)

   0
0  a
1  b
2  c

In [15]:
df1

   0
0  a
1  b
2  c

In [16]:
ls_of_ls=[[1,2,3],[2,3,4],[4,5,6]]
print(ls_of_ls)

[[1, 2, 3], [2, 3, 4], [4, 5, 6]]

In [17]:
df2=pd.DataFrame(ls_of_ls)
print(df2)

   0  1  2
0  1  2  3
1  2  3  4
2  4  5  6

In [18]:
df2

   0  1  2
0  1  2  3
1  2  3  4
2  4  5  6

In [23]:
dict1={'ID':[11,22,33,44]}
dict1

{'ID': [11, 22, 33, 44]}

In [24]:
df3 = pd.DataFrame(dict1)
df3

   ID
0  11
1  22
2  33
3  44

In [31]:
dict1={'ID':[11,22,33,44],'SN':[1,2,3,4]}
dict1

{'ID': [11, 22, 33, 44], 'SN': [1, 2, 3, 4]}

In [32]:
df3=pd.DataFrame(dict1)
df3

   ID  SN
0  11   1
1  22   2
2  33   3
3  44   4

In [34]:
ls_dict=[{'a':1,'b':2},{'a':3,'b':4}]
df5=pd.DataFrame(ls_dict)
df5

   a  b
0  1  2
1  3  4

In [35]:
ls_dict=[{'a':1,'b':2},{'a':3,'b':4,'c':6}]
df5=pd.DataFrame(ls_dict)
df5

   a  b    c
0  1  2  NaN
1  3  4  6.0

In [41]:
dict_sr={'ID':pd.Series([1,2,3]),'SN':pd.Series([121,232,343])}
df6=pd.DataFrame(dict_sr)
df6

   ID   SN
0   1  121
1   2  232
2   3  343