In [1]:
import pandas as pd

In [3]:
df=pd.read_csv('E:\\new1\\Startups.csv')
df

       Date  R&D Spend  Marketing Spend  Profit
0  1/7/2019    1657845             1369   13135
1  2/7/2019    4578425             1364   45678
2  3/7/2019    5454845             2365   12365
3  4/7/2019    4548455             4598   12458

In [4]:
df.dtypes

Date               object
R&D Spend           int64
Marketing Spend     int64
Profit              int64
dtype: object

In [5]:
type(df.Date[0])

str

In [7]:
df=pd.read_csv('E:\\new1\\Startups.csv',parse_dates=['Date'])#to change the datatype of Date column in datetime64
df

        Date  R&D Spend  Marketing Spend  Profit
0 2019-01-07    1657845             1369   13135
1 2019-02-07    4578425             1364   45678
2 2019-03-07    5454845             2365   12365
3 2019-04-07    4548455             4598   12458

In [8]:
type(df.Date[0])

pandas._libs.tslibs.timestamps.Timestamp

In [9]:
df.dtypes

Date               datetime64[ns]
R&D Spend                   int64
Marketing Spend             int64
Profit                      int64
dtype: object